/*body { 
	margin:0;
	padding:0;
	background: #aaa url(images/bg.jpg) no-repeat center fixed; 
	background-position: 0 100px;
	-webkit-background-size: cover;
	background-size: cover;
}*/
body{
	height: 100%;
}
.row {
	margin: 0;
}
#header{
	border: 0;
	width: 100%;
	position: fixed;
}
.menu{
	background-color: #0098D3;
	line-height: 20px;
	font-family: Droid Sans;
	color: #fff;
	font-size: 13px;
	text-align: left;
	text-align: center;
}
#nom{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 28px;
}
.menu-nav{
	font-weight: bold;
}
#wrapper{
	position: relative;
	top: 100;
	z-index: -1;
	padding: 0 10px;
	background: #aaa url(images/bg.jpg) no-repeat scroll;
	background-size: 100%;
	color: #fff;
	font-size: 32px;
	font-family: bold;
	text-shadow: 2px 2px #333;
	width: 100%;
	padding-bottom: 65,625%;
	/*
		1920 1260
		http://stackoverflow.com/questions/1495407/how-to-maintain-the-aspect-ratio-of-a-div-using-only-css
	*/
}
.logo{
	text-align: center;
}
.logo img{
	width: 80px;
}