/*filter greyscale*/

body{
	height: 100%;
	background-color: #80cce9;
}
.row {
	margin: 0;
}
.logo{
	text-align: center;
}
.logo img{
	width: 80px;
}
#nom{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 28px;
}
.menu,
nav{
	background-color: #0098D3;
	line-height: 20px;
	font-family: Droid Sans;
	color: #fff;
	font-size: 13px;
	text-align: left;
	text-align: center;
}
nav.stickydiv{
	position: fixed;
	border: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
nav a{
	color: #fff;
	text-decoration: none;
}
nav a:hover,
nav a:focus{
	color: #fff;
	text-decoration: none;
}
nav a:active,
.active{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#div-accueil,
#div-inscription,
#div-partenariat,
#div-evenements,
#div-programme,
#div-principe,
#div-contact,
#div-faq{
	position: relative;
	background-color: #80cce9;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	width: 100%;
	padding-bottom: 65.625%;
}
#div-accueil{
	background-image: url(images/bg1.jpg);
}
#div-partenariat{
	background-image: url(images/bg2.jpg);
}
#div-programme{
	background-image: url(images/bg3.jpg);
}
/*#div-principe:hover{
	background-color: #f0f;
}*/
#div-contact{
	background-image: url(images/bg4.jpg);
}
#div-accueil > div,
#div-inscription > div,
#div-partenariat > div,
#div-evenements > div,
#div-programme > div,
#div-principe > div,
#div-contact > div,
#div-faq > div{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
}
.titre{
	color: #fff;
	font-size: 32px;
	font-family: bold;
	text-shadow: 2px 2px #333;
}