/*filter greyscale*/

body{
	height: 100%;
	background-color: #fff;
}
.row {
	margin: 0;
}
.logo{
	text-align: center;
	text-shadow: 1px 1px #333;
}
.logo img{
	width: 80px;
}
.mos{
	padding-top: 10px;
}
.social{
	line-height: 80px;
	height: 80px;
	text-align: right;
	font-size: 14px;
}
.social a{
	text-decoration: none;
}
.fa-inverse-sfb,
.fa-inverse-stw{
	color: #0098D3;
}
.fa-inverse-fb,
.fa-inverse-tw{
	color: #fff;
}
.fb-hover:focus .fa-inverse-sfb,
.fb-hover:hover .fa-inverse-sfb{
	color: #fff;
}
.tw-hover:focus .fa-inverse-stw,
.tw-hover:hover .fa-inverse-stw{
	color: #fff;
}
.fb-hover:focus .fa-inverse-fb,
.fb-hover:hover .fa-inverse-fb{
	color: #0098D3;
}
.tw-hover:focus .fa-inverse-tw,
.tw-hover:hover .fa-inverse-tw{
	color: #0098D3;
}
#nom{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 28px;
}
#menuh{
	padding-top: 20px;
}
.menu,
nav{
	background-color: #0098D3;
	line-height: 20px;
	font-family: Droid Sans;
	color: #fff;
	font-size: 13px;
	text-align: center;
}
nav.stickydiv{
	position: fixed;
	border: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
nav a,
nav a:hover,
nav a:focus{
	color: #fff;
	text-decoration: none;
}
nav a:active,
.actif{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#div-carousel,
#div-inscription,
#div-partenariat,
#div-evenements,
#div-programme,
#div-principe,
#div-contact,
#div-faq{
	position: relative;
	/*background-color: #80cce9;*/
	background-color: #fff;
	background-repeat:  no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	width: 100%;
	/*padding-bottom: 65.625%;*/
	padding-bottom: 50%;
}
/*#div-carousel{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg);
	filter: gray;
	background-image: url(images/bg1.jpg);
}*/
/*#div-partenariat{
	background-image: url(images/bg2.jpg);
}*/
#div-programme{
	background-image: url(images/photo4.jpg);
}
/*#div-principe:hover{
	background-color: #f0f;
}*/
#div-contact{
	background-image: url(images/photo5.jpg);
}
#div-carousel > div,
#div-inscription > div,
#div-partenariat > div,
#div-evenements > div,
#div-programme > div,
#div-principe > div,
#div-contact > div,
#div-faq > div{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.titre{
	color: #fff;
	font-size: 32px;
	font-family: bold;
	text-shadow: 2px 2px #333;
}




/*********INTEGRATION CAROUSEL*********/

.carousel-caption{
	/*color: #483D8B;*/
	color: #0098D3;
 	text-shadow: 2px 2px #ccc;
 	font-weight: bold;
}
.carousel-caption {
  /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);*/
  /*border-radius: 25%;*/
  /*height: 25%;
  width: 9%;*/
  position:  absolute;
  top:  40%; /* Adjust to liking */
  margin:  0 auto;
}

 .item img{
	-webkit-filter: opacity(25%);
	-moz-filter: opacity(25%);
	-ms-filter: opacity(25%);
	-o-filter: opacity(25%);
	filter: opacity(25%);
 }




 /**************INTÉGRATION PRINCIPE-FONDATEURS***************/


.credits {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#666;
}
#fondateurs{
	border-left: 1px solid #dfdfdf;
}
#fondateurs img{
	width:100%;
}



/****************INTÉGRATION PARTENAIRES****************/

h2.part{
	text-align: center;
}
.partenaire{
	height: 100px;
	vertical-align: bottom;
	display: table-cell;
}
.partenairep{
	height: 100px;
	text-align: center;
	display: block;
}
.partenaire img{
	vertical-align: bottom;
	width: 100%;
}

/**************FOOTER*******************/

#footer{
	height:40px;
	line-height: 40px;
	width: 100%;
	background: linear-gradient(to bottom, #fff, #ccc);
	color: #000;
	text-align: center;
}